<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <style media="screen">
        body {
            padding: 15px;
        }
    </style>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <!-- Number badge on icon -->
    <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>

    <!-- Icon badge on icon -->
    <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="♥">account_box</div>

    <!-- Number badge -->
    <span class="mdl-badge" data-badge="4">Inbox</span>

    <!-- Icon badge -->
    <span class="mdl-badge" data-badge="♥">Mood</span>

    <!-- TO INCLUDE AN MDL BADGE COMPONENT: -->
    <a href="#" class="mdl-badge" data-badge="5">This link has a badge.</a>


    <!-- A badge inside a link. -->
    <a href="#" class="mdl-badge" data-badge="7">This link contains a badge.</a>

    <!-- A badge near, but not included in, a link. -->
    <a href="#">This link is followed by a badge.</a>
    <span class="mdl-badge" data-badge="12"></span>

    <!-- A badge inside a link with too many characters to fit inside the badge. -->
    <a href="#" class="mdl-badge" data-badge="123456789">This badge has too many characters.</a>

    <!-- A badge inside a link with no badge background color. -->
    <a href="#" class="mdl-badge mdl-badge--no-background" data-badge="123">This badge has no background color.</a>
</body>
</html>
