<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style media="screen">
    .mdl-progress {
        margin-bottom: 10px;
    }
    </style>
</head>
<body>
    <!-- Simple MDL Progress Bar -->
    <div id="p1" class="mdl-progress mdl-js-progress"></div>
    <!-- MDL Progress Bar with Indeterminate Progress -->
    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <!-- MDL Progress Bar with Buffering -->
    <div id="p3" class="mdl-progress mdl-js-progress"></div>
    <script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
        this.MaterialProgress.setProgress(44);
    });
    document.querySelector('#p3').addEventListener('mdl-componentupgraded', function() {
        this.MaterialProgress.setProgress(33);
        this.MaterialProgress.setBuffer(87);
    });
    </script>
</body>
</html>
